<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta name="Description" content="Christian Author Power Parenting Barb Rachner Ministries" />
	<meta name="Keywords" content="Barb Rachner Ministries Power Parenting" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Distribution" content="Global" />
	<meta name="Author" content="Josh Rachner - josh@joshrachner.com" />
	<meta name="Robots" content="index,follow" />
	
	<%= stylesheet_link_tag 'style' %>
	<%= javascript_include_tag :defaults %>
	
	<title>Barb Rachner Ministries</title>
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">
	<div id="header">				
		
		<h1 id="logo">Barb<span class="green">Rachner</span><span class="gray">Ministries</span></h1>	
		<h2 id="slogan">The words you speak have the power to transform.</h2>
		
		<form class="searchform" action="#">
			<p>
				<input type="text" name="search_query" class="textbox" />
  				<input type="submit" name="search" class="button" value="Search" />
			</p>
		</form>
			
		<!-- Menu Tabs -->
		<ul>
			<li id="<%= @index %>"><a href="/index"><span>Home</span></a></li>
			<li id="<%= @about %>"><a href="/about"><span>About</span></a></li>
			<li id="<%= @contact %>"><a href="/contact"><span>Contact</span></a></li>
			<li id="<%= @books %>"><a href="/books"><span>Books</span></a></li>			
		</ul>											
	</div>	
				
	<!-- content-wrap starts here -->
	<div id="content-wrap">		
											
		<img src="images/headerphoto.jpg" width="820" height="120" alt="headerphoto" class="no-border" />
		
		<div id="sidebar" >							
				
			<h1>Sidebar Menu</h1>
			<ul class="sidemenu">
				<li><a href="/index">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/books">Books</a></li>
			</ul>		
				
			<h1>Site Links</h1>
			<ul class="sidemenu">
				<li><a href="http://www.alcc.org">Abundant Life</a></li>
				<li><a href="http://www.kickdiabetes.org">Kick Diabettes</a></li>
				<li><a href="#">link</a></li>	
				<li><a href="#">link</a></li>											
			</ul>		
			
			<blockquote>
			<p>&quot;The <i>words</i> you speak have the <i>power</i> to transform.&quot;</p>		
			<p class="align-right">- Barb Rachner</p>
			</blockquote>		
			<div style="height:75px"></div>
		
		</div>
			
		<div id="main-wide">	
			<%= yield %>
			<div style="height:75px"></div>
		</div>		
			
	<!-- content-wrap ends here -->		
	</div>

	<!-- footer starts here -->	
	<div id="footer">
		
		<div class="footer-left">
			<p class="align-left">			
			&copy; 2009 <strong>Barb Rachner Ministries</strong>
			</p>		
		</div>
		
		<div class="footer-right">
			<p class="align-right">
				<a href="/index">Home</a>&nbsp;|&nbsp;
	  			<a href="#">SiteMap</a>&nbsp;|&nbsp;
				<a href="mailto:support@barbrachner.com">Support</a>
			</p>
		</div>
		
	</div>
	<!-- footer ends here -->
	
<!-- wrap ends here -->
</div>

</body>
</html>
